# {{ ansible_managed }}
[General]

ID={{ seafile_ccnet_id }}
NAME={{ seafile_ccnet_name }}
SERVICE_URL={{ seafile_ccnet_url }}

[Database]
ENGINE = mysql
HOST = {{ seafile_mysql_host }}
PORT = {{ seafile_mysql_port }}
USER = {{ seafile_mysql_user }}
PASSWD = {{ seafile_mysql_password ]}}
DB = {{ seafile_mysql_db }}
CONNECTION_CHARSET = utf8

