# {{ ansible_managed }}
[quota]
default = {{ seafile_quota_default }}

[history]
keep_days = {{ seafile_history_keepdays }}

[library_trash]
expire_days = {{ seafile_library_trashexpire }}

[fileserver]
worker_threads = {{ seafile_fileserver_threads }}
max_upload_size = {{ seafile_fileserver_maxuploadsize }}
max_download_dir_size = {{ seafile_fileserver_maxdownloadsize }}
max_indexing_threads = {{ seafile_fileserver_indexingthreads }}
fixed_block_size = {{ seafile_fileserver_blocksize }}
web_token_expire_time = {{ seafile_fileserver_tokenexpire }}

[zip]
windows_encoding = iso-8859-1

[database]
type = mysql
host = {{ seafile_database_host }}
port = {{ seafile_database_port }}
user = {{ seafile_database_user }}
password = {{ seafile_database_password }}
db_name = {{ seafile_database_name }}
connection_charset = utf8
max_connection = {{ seafile_database_connections }}

